#orderSummaryRow {
	height: 75%;
}

#userDetailsRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	height: 5.5rem;
	border: black solid 1px;
}

#userDetailsRow button {
	width: 15%;
	height: 60%;
	margin-bottom: 1rem;
	margin-left: 2rem;
}
