#root {
	display: flex;
	justify-content: center;
	background-image: url('../../../public/assets/wp2967398.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
#employeeViewContainer {
	max-width: 100%;
	height: 100vh;
}

#mainPosViewRow {
	height: 85%;
}

#orderSummaryRow {
	height: 75%;
}

#employeeViewRow {
	height: 100vh;
}

#userDetailsRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	height: 15%;
	border: black solid 1px 0px 1px 1px;
}
