#mainPosViewContainer {
	border: rgba(0, 0, 0, 0.471) solid 0.5px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

/* First Row */

#numbersRow .col {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 1rem;
}

#numbersRow .col button {
	margin: 0.25rem;
	padding: 1rem 1.6rem;
	font-size: 1.2rem;
}

/* Second Row */

#categoriesRow .col {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#categoriesRow .col button {
	margin: 1rem;
	padding: 1.5rem 3.5rem;
}

/* Third Row */

#sizeCol {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: 1rem;
	margin-right: 1rem;
}

#sizeCol button {
	margin: 0.5rem;
	padding: 0.5rem;
	width: 5rem;
	height: 5rem;
}

#itemCol .row button {
	width: 6.5rem;
	height: 6.5rem;
	font-size: 0.85rem;
}

#drinksRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.5rem 0.25rem;
}

#combosAndBurgersRow {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0.5rem 0.25rem;
}

#sidesRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.5rem 0.25rem;
}

#utilityCol {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#utilityCol .row {
	margin: 0.5rem;
	margin-bottom: 2rem;
}

#utilityCol .row button {
	padding: 1.5rem 0.5rem;
}

/* Fourth Row */
#bottomRow {
	margin: 0;
}

#modDeleteCol {
	margin: 0rem;
}

#modDeleteCol button {
	margin: 0.5rem;
	padding: 1rem;
}

#completeCol {
	display: flex;
	justify-content: flex-end;
	padding: 1rem;
}

#completeCol button {
	padding: 0.5rem 2rem;
}
