#orderDetailsContainer {
	background-color: rgba(80, 229, 255, 0.5);
	border-radius: 1rem;
}

.orderBurgerToppingDetailsCol {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.orderBurgerToppingDetails {
	margin: 0.3rem;
}

.lineItem {
	border-bottom: 1px black solid;
	margin-bottom: 1rem;
}

.orderDetailsTotal {
	font-size: larger;
	font-weight: bold;
}
